@import url("https://fonts.cdnfonts.com/css/dubai");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.rtl.min.css");
:root {
  --bs-font-sans-serif: "Dubai", sans-serif !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bs-light);
  font-family: var(--bs-font-sans-serif);
}

/* navbar */
.navbar .cta {
  display: flex;
  justify-content: flex-end;
}
.navbar .cta .btn {
  transform: scale(0.8);
}
@media (min-width: 768px) {
  .navbar .cta .btn {
    transform: scale(1);
  }
}
.navbar .dropdown .dropdown-toggle i {
  margin-left: 0.5rem;
}
.navbar .dropdown .dropdown-menu {
  left: 0 !important;
  right: auto;
}
.navbar .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar .dropdown .dropdown-menu .dropdown-item i {
  margin-left: 0.5rem;
}
/* main */
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}
.profile-image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.profile-details-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-details-item:not(:last-child) {
  margin-bottom: 1rem;
}
.profile-details-item > * {
  margin: 0;
}
/* comments section */
.comment__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--bs-white);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
}
.comment__card:not(:first-of-type) {
  margin-top: 1rem;
}
.comment__card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.comment__card-img {
  width: 100%;
  max-width: 70px;
  aspect-ratio: 1/1;
  border-radius: 0.2rem;
  object-fit: cover;
}
.comment__card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 0;
}
.comment__card-name {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
}
.comment__card-date {
  color: var(--bs-gray-500);
}
/* Footer */
footer .list-inline-item a {
  color: var(--bs-warning) !important;
}
footer .list-inline-item a:hover {
  color: var(--bs-light) !important;
}
